/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Anton:wght@400&family=Open+Sans:wght@300&display=swap');

/* Grundlayout */
html, body {
  height: 100%;
}
body {
  margin: 0;
  font-family: "Open Sans", system-ui, sans-serif;
  font-weight: 300;
  color: #ffffff;

  /* Hintergrundbild */
  background-image: url("../img/AdobeStock_266251260.jpeg"); /* <— Pfad zum HG-Bild */
  background-size: cover;
  background-position: center;
  background-repeat: repeat-y;  /* bei sehr grossen Bildschirmen */

  /* Layout: Inhalte horizontal zentrieren und oben starten */
  display: flex;
  flex-direction: column;
  align-items: center;  /* horizontale Zentrierung der Inhalte */
  justify-content: flex-start;   /* Inhalte am oberen Rand starten */
  text-align: center;

  /* etwas Abstand vom oberen Rand */
  padding-top: 7vh;  
}

/* Typografie – Mobile (Default) */
h1 {
  font-family: "Anton", system-ui, sans-serif;
  font-size: 70px;
  line-height: 1.05;
  margin: 0 1rem;
}
p {
  font-size: 23px;
  margin: 0.5rem 1rem 0;
}


/* Desktop-Version */
@media (min-width: 992px) {
  h1 { font-size: 120px; }
  p  { font-size: 40px; }
}
